
.contact-content {
    height: 40vw;
    /* background-color: blue; */
    display: flex;
    position: relative;
    /* margin: 30px; */
    flex-direction: column;
    top: 30px;
    /* margin: 20px; */
}

.contact-content::after{
    content: "";
    background-image: url('../img/11.svg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.1;
    z-index: -1;
}

.footer-contact {
    height: 50px;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: white;
    background-color: black;
    /* position: absolute; */
    bottom: 0;

}